name: Build SimplePaint EXE

on: 
  workflow_dispatch:

jobs:
  build-windows:
    runs-on: windows-latest
    steps:
    - name: Checkout code
      uses: actions/checkout@v4
      
    - name: Set up Python
      uses: actions/setup-python@v4
      with:
        python-version: '3.10'
        
    - name: Install dependencies
      run: |
        pip install PyQt6 pyinstaller
        
    - name: Build EXE
      run: pyinstaller --onefile --windowed --name SimplePaint main.py
        
    - name: Upload EXE
      uses: actions/upload-artifact@v4
      with:
        name: SimplePaint-Windows
        path: dist/SimplePaint.exe